.formcontent{
	border: 1px solid #d7d7d7;	
	background-color: #f8f9fa;	
	padding-bottom: 30px;
}
h1{
	background-color: #5c8297;
	padding: 15px 10px;
	color: #fff;
	margin-top: 0;
}
p{
	margin: 20px 0;
}
.text-info{	
    line-height: 25px;
}
ul{
	list-style: none;	
	padding: 0;
	margin-bottom: 30px
}
li{
	line-height: 25px;
}
.input-ctrl{
	width: 80%;
	height: 30px;
	padding: 5px;
	font-size: 20px;
}
